body{
background-color: #000000;
}
.calculator {
    background-color: #1b1b1c;
    width: 300px;
    margin: 50px auto;
    padding: 10px;
    border: 1px solid #333333;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  
  #display {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    text-align: right;
  }
  
  .keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
  }
  
  .key {
    padding: 10px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    background-color: #eee;
    cursor: pointer;
  }
  
  .operator {
    background-color: #909495;
    color: #fff;
  }
  
  .key:hover {
    background-color: #19c5f9;
  }
  
  .key:active {
    transform: translateY(1px);
  }
  